.table-cell {
-fx-padding: 0.5em 0.5em 0.1em 0.3em;
-fx-border-color: -fx-box-border -fx-box-border transparent transparent;
-fx-font: 15px "NanumSquare Regular";
-fx-border-insets: 0;
-fx-text-fill: white;
}

.table-cell:hover {
-fx-background-color: #9900ff;
}

.table-row-cell:empty .table-cell {
-fx-border-width: 0px;

}

.table-view .column-header .label{
-fx-text-fill: white;
-fx-font: 15px "NanumSquare Bold";
-fx-alignment: CENTER;
}

.table-view .column-header, .table-view .filler {
-fx-background-color: white;
-fx-size: 35;
-fx-border-color: -fx-box-border;
-fx-border-width: 0 1 3 0;
-fx-border-insets: 0;
}
