/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021. 5. 3., 오전 12:41:56
    Author     : 박성호
*/
/*.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}*/

.text-field {
  -fx-border-color: grey;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}

.text-field:focused {
  -fx-border-color: rgb(0,153,255);
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}

